<div class="col-xs-12 ">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9"></div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right-navigation-wrapper">
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
            <div class="content-label">
                <p>{{content-label}}</p>
            </div>
             {{>core-components-content-icon-text}}
        </div>
        {{>core-components-content-separator}}
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
            <div class="content-label">
                <p>{{content-label}}</p>
            </div> 
            <div class="right-nav-link-wrapper">
                   {{#each right-nav-links}}
                        <p><a href="{{href}}">{{text}}</a></p>
                   {{/each}}
            </div>
        </div>
        {{>core-components-content-separator}}
        
        <div class="col-xs-12" data-section="cta-right-rail">
            <div class="content-label">
                <p>{{content-label}}</p>
            </div> 
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
         
                {{>core-components-content-button}}
                {{>core-components-content-button}}
           
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
        </div>
        {{>core-components-content-separator}}
         <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 {{right-nav-background}}">
            <div class="content-label">
                <p>{{content-label}}</p>
            </div> 
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
            <div class="right-nav-form">
                <form>
                        {{>core-components-form-text}}
                        {{>core-components-form-button}}
                </form>
            </div>
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
        </div>
        {{>core-components-content-separator}}
        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12 {{right-nav-background}}">
            <div class="content-label">
                <p>{{content-label}}</p>
            </div> 
             <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
             <p class="phone-numbers">1800-006-993</p>
        </div>
    </div>
</div>