<div class="{{breadcrumb-wrapper-background}}">
	<nav class="{{breadcrumb-author}} vertical-middle-align no-gutter clearfix">
		<div class="left-area">
			<ol role="navigation" aria-label="Breadcrumb" class="breadcrumb-row">
				{{#each page-redirection-link}}
				<li class="{{class-name}}"><a href="{{link}}">{{text}}</a>
				</li>
				{{/each}}
			</ol>
		</div>
		{{#if social-icon-present}}
		<div class="right-area">
			<span class="side-text">{{side-text}}</span>
			<ul class="social-links">
				{{#each social-links}}
				<li>{{>core-components-content-icon-text}}</li>
				{{/each}}
			</ul>
		</div>
		{{/if}}
	</nav>
</div>