<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/core/vendor/css/vendor.css">
  <script src="/static/core/vendor/js/vendor.js"></script>
  <title>Sunlife Node application</title>
</head>
<body>
<div class="container">
  <h1>Sunlife Node application</h1>
  {{#each list}}
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a data-toggle="collapse" href="#collapse{{@index}}" title="{{subTitle}}">{{title}}</a>
        </h2>
      </div>
      <div id="collapse{{@index}}" class="panel-collapse collapse">
        {{#each children}}
        <div class="panel-body">
          <h2>{{title}}</h2>
          {{#each children}}
            <h3>{{title}}</h3>
            <ul class="list-group clearfix">
              {{#each children}}
                <li class="list-group-item col-lg-3">
                  <a href="{{path}}.html" title="{{subTitle}}">{{title}}</a>
                </li>
              {{/each}}
            </ul>
          {{/each}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
</body>
</html>