<div class="{{life-moment-wrapper}}">
    <div class="life-heading">
        {{life-heading}}
    </div>
    <div class="life-content-text-first">
        {{life-content-text-first}}
    </div>
    {{>core-components-content-link-list}}
    <div class="life-sub-heading">
        {{life-sub-heading}}
    </div>
    <div class="life-content-text-second">
        {{life-content-text-second}}
    </div>
    <div class="life-link-text">
        {{life-link-text}}
    </div>
</div>