<div class="{{desktop-navigation-wrapper}}" data-section="{{data-section-main-nav}}">
  <ul class="nav navbar-nav navbar-left navbar-new main-nav nav-auth" role="navigation"
    aria-label="Main">
    {{#each navigation}}
    <li class="dropdown nav-item navigation ">
<<<<<<< HEAD
      <a data-toggle="dropdown" class="dropdown-toggle subnav-trigger" href="https://www.sunlife.ca/ca/Explore+products?vgnLocale=en_CA">
        <i class="fa {{nav-icon}} {{nav-icon-display}}"></i><span class="nav-item-heading {{span-border}}">{{navigation-heading}}</span></a>
=======
      <a data-toggle="dropdown" class="dropdown-toggle subnav-trigger" href="/ca/Explore+products?vgnLocale=en_CA">
        <span class="nav-item-heading {{span-border}}">{{navigation-heading}}</span></a>
>>>>>>> 85fe0b9b7a3ed9e1368df915023d38a8f05686ba
      <div role="menu" class="dropdown-menu menu-content">
        {{>core-components-content-mega-menu}}
      </div>
    </li>
    {{/each}}
  </ul>
</div>