<div class="button-wrapper">
    <div class="{{button-wrapper-class}}">
        <a class="button-class {{button-mclass}}" href="{{redirection-link}}" id="{{id}}" role="button" data-target="{{data-target}}" data-toggle="{{data-toggle}}"> <span class="icon-class fa fa-user vertical-middle-align">&nbsp;</span><p class="button-text vertical-middle-align">{{button-text}}</p></a>
    </div>
</div>