    <a href="{{redirection-link}}" id="{{id}}" role="button" data-target="{{data-target}}"
        data-toggle="{{data-toggle}}"> 
        <span class="button-class {{button-class}}"><span class="icon-class fa {{fa-icon}}"></span>{{button-text}}</span>
    </a>