<div class="{{button-class}}">
    <a class="button-class" href="{{redirection-link}}" id="{{id}}" role="button" data-target="{{data-target}}"
        data-toggle="{{data-toggle}}"> <span class="icon-class fa fa-user vertical-middle-align">&nbsp;</span>
        <p class="button-text vertical-middle-align">{{button-text}}</p>
    </a>
</div>