<div>
    <a href="{{redirection-link}}" id="{{id}}" role="button" data-title={{data-title-button}} data-target="{{data-target}}" data-toggle="{{data-toggle}}"
        class="CTA-wrapper">
        <span class="button-class {{button-class}}"><span class="icon-class fa fa-user"></span>{{button-text}}</span>
    </a>
</div>