<div class="{{button-class}}">
    <a href="{{redirection-link}}" role="button" data-title="{{data-title-button}}" data-target="{{data-target}}" data-toggle="{{data-toggle}}" class="CTA-wrapper">
        <span class="button-class {{button-class-rte}}"><span class="icon-class fa fa-user"></span>{{button-text}}</span>
    </a>
</div>