<div class="button-wrapper">
    <div class="{{button-wrapper-class}}">
        <button type="{{button-type}}" class="button-class {{button-class}}" data-toggle="{{data-toggle}}" data-target="{{data-target}}"
            id="{{id}}">
            <span class="icon-class fa fa-user">&nbsp;</span>
            {{button-text}}
        </button>
    </div>
</div>