<div class="image-text-wrapper {{wrapper-class}} {{text-alignment}} {{image-type}} {{img-border}} {{banner-text-alignment}} {{banner-box}}"
	data-section="{{data-section-banner}}">
	{{#if is-right-aligned-image}}
	<div class="right-image-position">
		<div class="left-item text-section hide-in-editorial">
			{{{text}}}
		</div>
		<div class="right-item">
			{{!-- <a href="{{desk-image-link}}">
				<img class="side-image desktop-image" src="{{desk-image-src}}" alt="{{desk-alt}}" aria-hidden="true">
			</a>
			<a href="{{mob-image-link}}">
				<img class="side-image mobile-image" src="{{mob-image-src}}" alt="{{mob-alt}}" aria-hidden="true">
			</a> --}}
			<div class="hidden-xs desk-img"></div>	
			<div class="hidden-sm hidden-md hidden-lg mobile-img"></div>	
		</div>
		<div class="left-item text-section show-only-in-editorial">
			{{{text}}}
		</div>
	</div>
	{{else}}
	<div class="left-image-position background-img">
		<div class="left-item">
			{{!-- <a href="{{desk-image-link}}">
				<img class="side-image desktop-image" src="{{desk-image-src}}" alt="{{desk-alt}}" aria-hidden="true">
			</a> --}}
			{{!-- <a href="{{mob-image-link}}">
				<img class="side-image mobile-image" src="{{mob-image-src}}" alt="{{mob-alt}}" aria-hidden="true">
			</a>  --}}
			<div class="hidden-xs desk-img"></div>	
			<div class="hidden-sm hidden-md hidden-lg mobile-img"></div>	
		</div>
		<div class="right-item text-section hero-cta-container">
			{{{text}}}
		</div>
	</div>
	{{/if}}
</div>


<!--Banner all variations start here -->
<!--life moments banner start -->
{{!-- <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding life-moments'>
	<div class='col-sm-12 col-md-12 col-lg-12 hidden-xs no-padding'>
		<div class="banner vertical-center">
			<div class="text-section text">
				<div class='content hero-cta-container right-item'>
					{{{life-moments.text}}}
				</div>

			</div>
		</div>
	</div>

     <!-- for mobile -->
		<div class='col-xs-12 hidden-sm hidden-md hidden-lg  no-padding'>
			<div class="banner">
			</div>
			<div class="text-section-mobile text">
				{{{life-moments.text}}}
			</div>
		</div>
</div> --}}

<!--life moments banner end -->
<!--Banner all variations end here -->