<form class="{{form-class}}" id="{{form-id}}" name="{{form-name}}" action="{{form-action}}" method="{{form-method}}" onsubmit="{{form-function}}">
    {{>core-components-form-text}}
    {{>core-components-form-options}}
    {{>core-components-form-button}}
</form>