<form class="form-wrapper {{form-background-wrapper}} {{form-alignment-wrapper}}" id="{{form-id}}" name="{{form-name}}" action="{{form-action}}" method="{{form-method}}" data-parsley-validate="data-parsley-validate" onsubmit="{{form-function}}">
    {{>core-components-form-text}}
    {{>core-components-form-options}}
    {{>core-components-form-button}}

    {{>core-components-form-options}}
    {{>core-components-form-button}}
</form>