<div class="row row-advisor p-std-advisor pad-bottom-30">
	{{#if agent}}
	<div class="col-xs-12 col-sm-3 text-top row-advisor-pic">
		<p><img alt="" src={{advisor-pic-src}}></p>
	</div>
	<div class="col-xs-12 col-sm-9 row-advisor-details row-advisor-0">
		<h1 class="content-label">{{advisor-group}}</h1>
		<!-- Advisor Description - Tablet and Desktop -->
		<div class="row">
			<div class="col-md-12 hidden-xs row-advisor-desc-sm">
				<p class="row-advisor-desc-bio">{{{advisor-description}}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3"><strong>Address:</strong></div>
			<div class="col-xs-12 col-sm-9">{{address}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3"><strong>Languages:</strong></div>
			<div class="col-xs-12 col-sm-9"> {{language}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3"><strong>Phone:</strong></div>
			<div class="col-xs-12 col-sm-9">{{phone}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-3"><strong>Email:</strong></div>
			<div class="col-xs-12 col-sm-5 row-advisor-email"><a href="mailto:'{{email}}'" {{email}}">{{email}}</a>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 hidden-xs">
			<ul class="row-advisor-socials list-inline">
				{{#each SocialMediaLinks}}
				<li><a class="{{LinkClass}}" target="_blank" href="{{LinkUrl}}"><span class="sr-only">{{LinkText}}</span></a>
				</li>
				{{/each}}
			</ul>
		</div>

		<!-- Advisor Description - Mobile -->
		<div class="col-xs-12 visible-xs row-advisor-desc-xs">
			<p class="row-advisor-desc-bio">
			<span class="row-advisor-desc-bio-full">{{advisor-description}}
			</span><a href="#" data-toggle="row-advisor-desc-bio-full" class="row-advisor-desc-bio-toggle"></a></p>
		</div>
		<div class="col-xs-12 col-sm-12">
			<ul class="row-advisor-socials list-inline">
				{{#each SocialMediaLinks}}
				<li><a class="{{LinkClass}}" target="_blank" href="{{LinkUrl}}"><span class="sr-only">{{LinkText}}</span></a>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 row-advisor-disclaimer">
    	Mutual funds distributed by Sun Life Financial Investment Services (Canada) Inc. 
    </div>
{{/if}}

{{#if corp}}
	<div class="row-advisor-details row-advisor-1">
		<h4 class="content-label">{{advisor-group}}</h4>
		<!-- Advisor Description - Mobile -->

		<div class="col-xs-12 visible-xs row-advisor-desc-xs">
			<p class="row-advisor-desc-bio">
			<span class="row-advisor-desc-bio-full">{{advisor-description}}
			</span><a href="#" data-toggle="row-advisor-desc-bio-full" class="row-advisor-desc-bio-toggle"></a></p>
		</div>
		<!-- Advisor Description - Tablet and Desktop -->

		<div class="row">
			<div class="col-md-12 hidden-xs row-advisor-desc-sm">
				<p class="row-advisor-desc-bio">{{{advisor-description}}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2"><strong>Address:</strong></div>
			<div class="col-xs-12 col-sm-10">{{address}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2"><strong>Phone:</strong></div>
			<div class="col-xs-12 col-sm-10">{{phone}}</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-2"><strong>Email:</strong></div>
			<div class="col-xs-12 col-sm-10 row-advisor-email"><a href="mailto:'{{email}}'" {{email}}">{{email}}</a>
			</div>
		</div>
		{{#each CorpTeamMembers}}
		<div class="col-sm-6 col-advisor-grid-block">
			<div class="row">
				<div class="col-xs-12 col-sm-5 text-top row-advisor-pic">
					<p><img src={{PhotoUrl}}></p>
				</div>
				<div class="col-xs-12 col-sm-7 row-advisor-grid-block row-advisor-details">
					<div class="row">
						<div class="col-md-12">
							<h4>{{FormattedName}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6"><strong>Languages:</strong></div>
						<div class="col-xs-12 col-sm-6"> {{Languages}}</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6"><strong>Phone:</strong></div>
						<div class="col-xs-12 col-sm-6">{{ContactInfo.Phone}}</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6"><strong>Email:</strong></div>
						<div class="col-xs-12 col-sm-6 row-advisor-email"><a href="mailto:'{{ContactInfo.Email}}'"
								{{ContactInfo.Email}}>{{ContactInfo.Email}}</a></div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12"><a href="{{ContactInfo.Url}}">Visit my web page</a></div>
					</div>
					<div class="row mar-top-20">
						<div class="col-xs-12 col-sm-12">
							<ul class="row-advisor-socials list-inline">
								{{#each SocialMediaLinks}}
								<li><a class="{{LinkClass}}" target="_blank" href="{{LinkUrl}}"><span
											class="sr-only">{{LinkText}}</span></a></li>
								{{/each}}
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
{{/if}}

</div>
<div class="google-map">
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " data-analytics="tab0">
			<div class="panel slf-accordion-plus yellow pad-bottom-30">

				<div class="accordion-heading collapsed" data-toggle="collapse" href="#row-map-collapse"
					data-parent="#accordion-section-1" aria-expanded="false" id="map-title">Advisor Location</div>

				<div id="row-map-collapse" class="collapse">

					<div class="content">

						<div id="ctl01_pnlGoogle">

							<div id="GoogleMapDiv"></div>

							<a id="largeGoogleMap" href="#">View larger map</a>
							<img id="ctl01_imgLinkNewWindow" title="Opens link in a new window"
								src="https://cdn.sunlife.com/static/ca/Advisor_Refresh/images/newWindow.gif"
								alt="Opens link in a new window" height="10" width="12">
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
</div>