<!-- Advisor start -->
<div class="col-sm-9">
{{#if advisorStd}}
	<div class="row row-advisor p-std-advisor pad-bottom-30 advisor-target">
		<div class="col-xs-12 col-sm-3 text-top row-advisor-pic">
			<p>
				<img 
					src="{{advisorDetailObj.domain}}/{{advisorStd.PhotoUrl}}" /> <img
					
					src="{{advisorDetailObj.advisorImage}}" />
			</p>
		</div>
		<div class="col-xs-12 col-sm-9 row-advisor-details row-advisor-0">
			<h1 class="content-label">{{advisorStd.FormattedName}}{{advisorDetailObj.disclaimerAsteriskLabel}}
			</h1>
			<!-- Advisor Description - Tablet and Desktop -->
			<div class="row">
				<div class="col-md-12 hidden-xs row-advisor-desc-sm">
					<p class="row-advisor-desc-bio">{{advisorStd.Bio}}</p>
					{{#each advisorStd.Notices}}
					<p>
						<strong>{{notice.AgentTitle}}</strong> <br>
						{{notice.AgentContent}}
					</p>
					{{/each}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<strong>Address</strong>
				</div>
				<div class="col-xs-12 col-sm-9">
					{{advisorStd.Address.StreetAddress1}}{{#if advisorStd.Address.StreetAddress2}}, {{advisorStd.Address.StreetAddress2}}{{/if}}, {{advisorStd.Address.City}}, {{advisorStd.Address.Province}}, {{advisorStd.Address.PostalCode}}
				</div>
			</div>
			<div  class="row">
				<div class="col-xs-12 col-sm-3">
					<strong>Languages</strong>
				</div>
				<div class="col-xs-12 col-sm-9">
					{{#if advisorStd.Languages}}
						{{advisorStd.Languages}}
					{{/if}}
				</div>
			</div>
			<div  class="row">
				<div class="col-xs-12 col-sm-3">
					<strong>Phone</strong>
				</div>
				<div class="col-xs-12 col-sm-9">{{advisorStd.ContactInfo.Phone}}</div>
			</div>
			<div  class="row">
				<div class="col-xs-12 col-sm-3">
					<strong>Fax</strong>
				</div>
				<div class="col-xs-12 col-sm-9">{{advisorStd.ContactInfo.Fax}}</div>
			</div>
			<div class="row">
				{{#if advisorStd.ContactInfo.Email}}
					<div class="col-xs-12 col-sm-3">
						<strong>Email:</strong>
					</div>
					<div class="col-xs-12 col-sm-5 row-advisor-email">
						<a href="mailto:{{advisorStd.ContactInfo.Email}}">{{advisorStd.ContactInfo.Email}}</a>
					</div>
				{{/if}}
				<div class="col-xs-12 col-sm-4 row-advisor-contact-social hidden-xs">
					<ul class="row-advisor-socials list-inline">
						{{#each advisorStd.SocialMediaLinks}}
						<li><a x-cq-linkchecker="skip"
							class="fa fa-facebook-square" target="_blank" href="{{LinkUrl}}">
							<span class="sr-only">{{LinkName}}</span>
							</a> <a x-cq-linkchecker="skip"class="fa fa-linkedin-square" target="_blank" href="{{LinkUrl}}">
							<span class="sr-only">{{LinkName}}</span>
							</a> <a x-cq-linkchecker="skip"class="fa fa-twitter-square" target="_blank"href="{{LinkUrl}}"> <span class="sr-only">{{LinkName}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<!-- Advisor Description - Mobile -->
			<div class="col-xs-12 visible-xs row-advisor-desc-xs">
				<p class="row-advisor-desc-bio">
					<span class="row-advisor-desc-bio-full"> {{advisorStd.Bio}} </span> <a
						href="#" data-toggle="row-advisor-desc-bio-full"
						class="row-advisor-desc-bio-toggle"></a>
				</p>
				{{#each advisorStd.Notices}}
				<p>
					<strong>{{notice.AgentTitle}}</strong> <br>
					{{notice.AgentContent}}
				</p>
				{{/each}}
				{{#if social-icon-mobile}}
				<div class="col-xs-12 col-sm-4 row-advisor-contact-social">
					<ul class="row-advisor-socials list-inline">
						{{#each advisorStd.SocialMediaLinks}}
						<li><a class="fa fa-facebook-square" target="_blank" href="{{LinkUrl}}">
							<span class="sr-only">{{LinkName}}</span>
							</a> <a x-cq-linkchecker="skip"class="fa fa-linkedin-square" target="_blank" href="{{LinkUrl}}">
							<span class="sr-only">{{LinkName}}</span>
							</a> <a x-cq-linkchecker="skip"class="fa fa-twitter-square" target="_blank"href="{{LinkUrl}}"> <span class="sr-only">{{LinkName}}</span>
							</a>
						</li>
						{{/each}}
					</ul>
				</div>
				{{/if}}
			</div>
		</div>
		<div 
			class="col-xs-12 col-sm-12 row-advisor-disclaimer">
			{{advisorDetailObj.disclaimerAsteriskLabel}}{{advisorStd.Disclaimer}}
		</div>
	</div>
{{/if}}
</div>
<!-- Advisor end -->
<!-- Corp start -->
<div class="col-sm-9">
{{#if advisorCorp}}
	<div class="row row-advisor p-std-advisor pad-bottom-30 corp-target">
		<div class="col-xs-12 col-sm-12">
			<h4 class="content-label">{{advisorCorp.CorpName}}</h4>
		</div>
		
		{{#if macMulti}}
			<div class="col-md-12">
				<p class="row-advisor-desc-bio">{{advisorCorp.CorpWelcomMessage}}</p>
				{{#each advisorCorp.Notices}}
				<p>
					<strong>{{notice.AgentTitle}}</strong> <br>
					{{notice.AgentContent}}
				</p>
				{{/each}}
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-2">
					<strong>Address</strong>
				</div>
				<div class="col-xs-12 col-sm-10">
					{{advisorCorp.CorpAddress.StreetAddress1}}, {{advisorCorp.CorpAddress.StreetAddress2}}, {{advisorCorp.CorpAddress.City}}, {{advisorCorp.CorpAddress.Province}}, {{advisorCorp.CorpAddress.PostalCode}}
				</div>
			</div>
			<div  class="row">
				<div class="col-xs-12 col-sm-2">
					<strong>Phone</strong>
				</div>
				<div class="col-xs-12 col-sm-10">{{advisorCorp.CorpContactInfo.Phone}}</div>
			</div>
			<div  class="row">
				<div class="col-xs-12 col-sm-2">
					<strong>Email</strong>
				</div>
				<div class="col-xs-12 col-sm-10 row-advisor-email">
					<a href="mailto:'{{advisorCorp.CorpContactInfo.Email}}'">{{advisorCorp.CorpContactInfo.Email}}</a>
				</div>
			</div>
			{{#each advisorCorp.CorpTeamMembers}}
			<div class="col-sm-6 col-advisor-grid-block">
				<div class="row">
					<div class="col-xs-12 col-sm-5 text-top row-advisor-pic">
						<p><img src="//www.sunlife.ca/{{PhotoUrl}}">
						</p>
					</div>
					<div class="col-xs-12 col-sm-7 row-advisor-grid-block row-advisor-details">
						<div class="row">
							<div class="col-md-12">
								<h4>{{FormattedName}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6"> <strong>Language</strong></div>
							<div class="col-xs-12 col-sm-6">{{Languages}}</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6"> <strong>Phone</strong></div>
							<div class="col-xs-12 col-sm-6">{{ContactInfo.Phone}}</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-6"> <strong>Email</strong></div>
							<div class="col-xs-12 col-sm-6 row-advisor-email"> <a
									href="mailto:{{ContactInfo.Email}}">{{ContactInfo.Email}}</a></div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12"> <a x-cq-linkchecker="skip"
									href="{{ContactInfo.Url}}">Visit my web page</a></div>
						</div>
						<div class="row mar-top-20">
							<div class="col-xs-12 col-sm-12">
								<ul class="row-advisor-socials list-inline">
									<li><a class="fa fa-facebook-square" target="_blank" href="{{LinkUrl}}">
										<span class="sr-only">{{LinkName}}</span>
										</a> <a x-cq-linkchecker="skip"class="fa fa-linkedin-square" target="_blank" href="{{LinkUrl}}">
										<span class="sr-only">{{LinkName}}</span>
										</a> <a x-cq-linkchecker="skip"class="fa fa-twitter-square" target="_blank"href="{{LinkUrl}}"> <span class="sr-only">{{LinkName}}</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			{{/each}}
		{{/if}}
		<!-- SAC -->
		{{#if macMulti1}}
			<div class="col-md-12 hidden-xs pad-bottom-30">
				<p class="cwelcomemsg">{{advisorCorp.CorpWelcomMessage}}</p>
				{{#each advisorCorp.Notices}}
				<p>
					<strong>{{notice.AgentTitle}}</strong> <br>
					{{notice.AgentContent}}
				</p>
				{{/each}}
			</div>
			{{#each advisorCorp.CorpTeamMembers}}
				<div class="col-xs-12 col-sm-3 text-top row-advisor-pic">
					<p>
						<img src="{{advisorDetailObj.domain}}/{{corpMember.PhotoUrl}}">
					</p>
				</div>
				<div
					class="col-xs-12 col-sm-9 row-advisor-details .row-advisor-1 corp-case2">
					<div class="row">
						<div class="col-md-12">
							<h4>{{corpMember.FormattedName}}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-3">
							<strong>Address</strong>
						</div>
						<div class="col-xs-12 col-sm-9">
							{{advisorCorp.CorpAddress.StreetAddress1}} {{#if advisorCorp.CorpAddress.StreetAddress2}}, {{advisorCorp.CorpAddress.StreetAddress2}} {{/if}}, {{advisorCorp.CorpAddress.City}}, {{advisorCorp.CorpAddress.Province}}, {{advisorCorp.CorpAddress.PostalCode}}
						</div>
					</div>
					<div  class="row">
						<div class="col-xs-12 col-sm-3">
							<strong>Language</strong>
						</div>
						<div class="col-xs-12 col-sm-9">
							{{#if corpMember.Languages}}>{{language}}{{/if}},
						
						</div>
					</div>
					<div  class="row">
						<div class="col-xs-12 col-sm-3">
							<strong>Phone</strong>
						</div>
						<div class="col-xs-12 col-sm-9">{{corpMember.ContactInfo.Phone}}</div>
					</div>
					<div  class="row">
						<div class="col-xs-12 col-sm-3">
							<strong>CellPhone</strong>
						</div>
						<div class="col-xs-12 col-sm-9">{{corpMember.ContactInfo.CellPhone}}</div>
					</div>
					<div  class="row">
						<div class="col-xs-12 col-sm-3">
							<strong>Fax</strong>
						</div>
						<div class="col-xs-12 col-sm-9">{{corpMember.ContactInfo.Fax}}</div>
					</div>
					<div  class="row">
						<div class="col-xs-12 col-sm-3">
							<strong>Email</strong>
						</div>
						<div class="col-xs-12 col-sm-9 row-advisor-email">
							<a href="mailto:{{corpMember.ContactInfo.Email}}">{{corpMember.ContactInfo.Email}}</a>
						</div>
					</div>
					<div 
						class="row hidden-xs">
						<div class="col-xs-12 col-sm-12">
							<a x-cq-linkchecker="skip"href="{{corpMember.ContactInfo.Url}}">{{advisorDetailObj.advisorLinkLabel}}</a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 visible-xs row-advisor-desc-xs">
							<p>{{advisorCorp.CorpWelcomMessage}}</p>
							{{#each advisorCorp.Notices}}
							<p><strong>{{notice.AgentTitle}}</strong> <br>{{notice.AgentContent}}
							</p>
							{{/each}}
						</div>
					</div>
					{{#if social-icon-corp-case2}}
					<div class="row mar-top-20">
						<div class="col-xs-12 col-sm-12">
							
							
						</div>
					</div>
					{{/if}}
				</div>
			{{/each}}
		{{/if}}
		<!-- SAC end -->
	</div>
{{/if}}
</div>
<!-- Corp end -->
