<article class="article-wrapper">
    <div class="article-intro">
        <div class="article-date">
            {{article-date}}
        </div>
        <div class="article-title heading-2">
            {{article-title}}
        </div>
        {{#if author-present}}
        <div class="article-author-name">
            {{article-author-name}}
        </div>
        {{/if}}
    </div>
    <div class="article-teaser">
        {{article-teaser}}
    </div>
    <figure class="article-image">
        <img src="{{article-image}}" alt="{{article-image-alt}}">
    </figure>
    <div class="article-body">
        {{article-body}}
    </div>
    <div class="article-rating">
        <div class="mar-bottom-30" id="pd_rating_holder_7600084" style="display: inline-block;">
            <div class="rating-icons" id="pd_rate_7600084" style="float:left;">
                <div class="rating-star-icon" onmouseout="PDRTJS_7600084.rebuild();" onclick="PDRTJS_7600084.rate(1);" onmouseover="PDRTJS_7600084.hover(1);" id="PDRTJS_7600084_stars_1" style="background-size: 48px 72px !important; cursor: pointer; width: 24px; height: 24px; line-height: 24px; background: url(https://polldaddy.com/images/ratings/star-yellow-lrg.png) top left; float: left; padding: 0px; margin: 0px; margin-right: 1px;">&nbsp;</div>
                <div class="rating-star-icon" onmouseout="PDRTJS_7600084.rebuild();" onclick="PDRTJS_7600084.rate(2);" onmouseover="PDRTJS_7600084.hover(2);" id="PDRTJS_7600084_stars_2" style="background-size: 48px 72px !important; cursor: pointer; width: 24px; height: 24px; line-height: 24px; background: url(https://polldaddy.com/images/ratings/star-yellow-lrg.png) top left; float: left; padding: 0px; margin: 0px; margin-right: 1px;">&nbsp;</div>
                <div class="rating-star-icon" onmouseout="PDRTJS_7600084.rebuild();" onclick="PDRTJS_7600084.rate(3);" onmouseover="PDRTJS_7600084.hover(3);" id="PDRTJS_7600084_stars_3" style="background-size: 48px 72px !important; cursor: pointer; width: 24px; height: 24px; line-height: 24px; background: url(https://polldaddy.com/images/ratings/star-yellow-lrg.png) top left; float: left; padding: 0px; margin: 0px; margin-right: 1px;">&nbsp;</div>
                <div class="rating-star-icon" onmouseout="PDRTJS_7600084.rebuild();" onclick="PDRTJS_7600084.rate(4);" onmouseover="PDRTJS_7600084.hover(4);" id="PDRTJS_7600084_stars_4" style="background-size: 48px 72px !important; cursor: pointer; width: 24px; height: 24px; line-height: 24px; background: url(https://polldaddy.com/images/ratings/star-yellow-lrg.png) top left; float: left; padding: 0px; margin: 0px; margin-right: 1px;">&nbsp;</div>
                <div class="rating-star-icon" onmouseout="PDRTJS_7600084.rebuild();" onclick="PDRTJS_7600084.rate(5);" onmouseover="PDRTJS_7600084.hover(5);" id="PDRTJS_7600084_stars_5" style="background-size: 48px 72px !important; cursor: pointer; width: 24px; height: 24px; line-height: 24px; background: url(https://polldaddy.com/images/ratings/star-yellow-lrg.png) center left; float: left; padding: 0px; margin: 0px; margin-right: 1px;">&nbsp;</div>
            </div>
            <span style="float:left;">&nbsp;</span>
            <div id="rating_info_7600084" style="display:block;float:left;background:url(https://polldaddy.com/images/ratings/info.png) no-repeat 3px 2px;width:16px;height:16px;cursor:pointer; null " onclick="javascript:PDRTJS_7600084.togglePopup();return false;">
                <span style="display:none;">i</span>
            </div>
            <div class="pd_popup_holder" id="pd_popup_holder_7600084">&nbsp;</div>
            <div class="rating-msg" id="PDRTJS_7600084_msg" style="float:left; padding-left: 5px; text-align: left; font:normal normal /16px ; color: #;">18 Votes</div>
            <p style="padding: 0px; margin: 0px; clear: both;"></p>
        </div>
    </div>
</article>