<div class="slf-table table-responsive mar-bottom-20  {{variant}}">
  <table cellpadding="1" cellspacing="0" width="100%" height="100%">
    <tbody>
      <!--looping through the table header -->
      <tr>{{#each thead}}<th scope="col">{{{this}}}</th>{{/each}}</tr>
      {{#each tbody}}
      <tr>
        <th>{{{title}}}</th>
        <td>{{{term-life-insurance}}}</td>
        <td>{{{permanent-insurance}}}</td>
        <td>{{{whole-life-insurance}}}</td>
        <td>{{{universal-life-insurance}}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>