<nav class="cmp-navigation left-nav-wrapper" role="navigation" aria-label="Left" data-section="{{data-section-left-nav}}">
    <ul class="cmp-navigation__group">
        <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active">
            <a href="javascript:void(0)" title="test" aria-current="page"
                class="cmp-navigation__item-link">
                {{zero-level}}
            </a>
            <ul class="cmp-navigation__group">
                {{#each first-level-list}}
                    <li class="cmp-navigation__item cmp-navigation__item--level-1 {{cmp-navigation__item--active}}">
                        {{#if second-level-present}}
                            <a href="javascript:void(0)" class="cmp-navigation__item-link" aria-current="page" aria-expanded="false" data-toggle="collapse" data-parent=".cmp-navigation__group">{{first-level-link-name}}</a>
                            <ul class="cmp-navigation__group">
                                {{#each second-level-list}}
                                    <li class="cmp-navigation__item cmp-navigation__item--level-2 {{cmp-navigation__item--active}}">
                                        <a class="cmp-navigation__item-link" href="{{second-level-link-url}}" aria-current="page">
                                            {{second-level-link-name}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <a class="cmp-navigation__item-link" href="{{first-level-link-url}}">
                                {{first-level-link-name}}
                            </a>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</nav>