<div class="input-section form-group-wrapper">
    {{!-- <label class="text-regular sr-only" id="label-select-product" for="select-product">Select a product below to receive a quote</label> --}}
    <select class="form-control cta-input form-option" required="">
        <option selected="selected" value="">Select a product</option>
        <optgroup label="Life insurance">
            {{#each list}}
                <option value={{link}}  >{{text}}</option>
            {{/each}}
        </optgroup>
         <optgroup label="Life insurance">
            {{#each list}}
                <option value={{link}}  >{{text}}</option>
            {{/each}}
        </optgroup>
         <optgroup label="Life insurance">
            {{#each list}}
                <option value={{link}}  >{{text}}</option>
            {{/each}}
        </optgroup>
       
</select>
</div>

<div class="form-group-wrapper text-left">
    <input type="checkbox" class="form-checkbox">
   
</div>
<br> <br>
 <div class="form-group-wrapper text-left">
    <input type="radio" name="radio">
 
</div> 
 <br> <br> 
