<!--  One Column Start -->

<div class="one-column-wrapper">
        <!-- Variation 1: 100% -->
        <div class="one-column-variation-one">
                <div class="col-xs-12 {{background-color}}">
                </div>
        </div>
</div>

<!--  One Column End  -->

<!--  Two Columns Start -->

<div class="two-column-wrapper">
        <!-- Variation 1: 66.67% : 33.33% -->
        <div class="two-column-variation-one">
                <div class="col-xs-8 {{background-color}}">
                </div>
                <div class="col-xs-4 {{background-color}}">
                </div>
        </div>
        <!-- Variation 2: 33.33% : 66.67% -->
        <div class="two-column-variation-two">
                <div class="col-xs-4 {{background-color}}">
                </div>
                <div class="col-xs-8 {{background-color}}">
                </div>
        </div>
        <!-- Variation 3: 50% : 50% -->
        <div class="two-column-variation-three">
                <div class="col-xs-6 {{background-color}}">
                </div>
                <div class="col-xs-6 {{background-color}}">
                </div>
        </div>
        <!-- Variation 3A:Yellow Background with Padding -->
        <div class="two-column-variation-three padding-between">
                <div class="col-sm-6 {{background-color}}">
                </div>
                <div class="col-sm-6 {{background-color}}">
                </div>
        </div>
        <!-- Variation 3B:Different Backgrounds with Vertical Seperator -->
        <div class="two-column-variation-three">
                <div class="col-sm-6 {{background-color}}">
                </div>
                <div class="hidden-xs {{vertical-seperator}}"></div>
                <div class="col-sm-6 {{background-color}}">
                </div>
        </div>
        <!-- Variation 4: 75% : 25% -->
        <div class="two-column-variation-four">
                <div class="col-xs-9 {{background-color}}">
                </div>
                <div class="col-xs-3 {{background-color}}">
                </div>
        </div>
        <!-- Variation 5:25% : 75% -->
        <div class="two-column-variation-five">
                <div class="col-xs-3 {{background-color}}">
                </div>
                <div class="col-xs-9 {{background-color}}">
                </div>
        </div>
        <!-- Variation 6: 58.33% : 41.66% -->
        <div class="two-column-variation-six">
                <div class="col-xs-7 {{background-color}}">
                </div>
                <div class="col-xs-5 {{background-color}}">
                </div>
        </div>
        <!-- Variation 7: 41.66% : 58.33% -->
        <div class="two-column-variation-seven">
                <div class="col-xs-5 {{background-color}}">
                </div>
                <div class="col-xs-7 {{background-color}}">
                </div>
        </div>
        <!-- Variation 8: 16.66% : 83.33% -->
        <div class="two-column-variation-eight">
                <div class="col-xs-2 {{background-color}}">
                </div>
                <div class="col-xs-10 {{background-color}}">
                </div>
        </div>
</div>

<!-- Two Columns End -->

<!-- Three Columns Start -->

<div class="three-column-wrapper">
        <!-- Variation 1 : 33.333% : 33.333% : 33.333% -->
        <div class="three-column-variation-one">
                <div class="col-xs-4 {{background-color}}">
                </div>
                <div class="col-xs-4 {{background-color}}">
                </div>
                <div class="col-xs-4 {{background-color}}">
                </div>
        </div>
        <!-- Variation 2: 25% : 41.66% : 33.33% -->
        <div class="three-column-variation-two">
                <div class="col-xs-3 {{background-color}}">
                </div>
                <div class="col-xs-5 {{background-color}}">
                </div>
                <div class="col-xs-4 {{background-color}}">
                </div>
        </div>
</div>

<!-- Three Columns End -->

<!-- Four Columns Start -->

<!-- Variation 1: 25% : 25% : 25% : 25% -->

<div class="four-column-wrapper">
        <div class="four-column-variation-one">
                <div class="col-xs-3 {{background-color}}">
                </div>
                <div class="col-xs-3 {{background-color}}">
                </div>
                <div class="col-xs-3 {{background-color}}">
                </div>
                <div class="col-xs-3 {{background-color}}">
                </div>
        </div>
</div>

<!-- Four Columns End -->
<!-- flex container starts here -->
<div class="col-xs-12">
        <div class="row">
                <div class="flex-height">
                        <div class="col-sm-6">
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                        </div>
                        <div class="col-sm-6">
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                        </div>
                </div>
        </div>
</div>
<!-- flex container ends here -->