<div class="col-xs-12 desktop-region-language-menu-wrapper collapse in" data-section="{{data-section-region-language}}" aria-expanded="true">
    <div class="cross-btn">
        <a data-toggle="collapse" href="#sun-language">
            <span class="sunLanguageCrossBtn fa fa-remove collapse-x" title="Close Region and language selection page" tabindex="0"></span>
        </a>
    </div>
    {{#if region}}
        <div class="col-xs-9 slf-region">
            <div class="title-region">
                <h4>{{region-title}}</h4>
            </div>
            <div class="col-xs-12 content-region">
                {{#each region-list}}
                    <div class="col-xs-4 slf-region-column">
                        <ul class="first_level_list-unstyled">
                            {{#each parent-list}}
                                {{#if accordion}}
                                    <li>
                                        <a class="accordion-heading" href="javascript:void(0)" aria-expanded="false"  data-toggle="collapse">{{ LinkText }}</a>
                                        <ul class="list-unstyled accordion-list collapse">
                                            {{#each list}}
                                            <li class={{selected}}>
                                                <a href="{{link}}">{{text}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                {{else}}
                                    <li>
                                        <a href="{{country-link}}">{{country-text}}</a>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="col-xs-9 slf-region no-region-present">
            <p class="select-preference">
                Please select your language preference on the right hand side
            </p>
        </div>
    {{/if}}
    <div class="col-xs-3 slf-language">
        <div class="title-language">
            <h4>{{language-title}}</h4>
        </div>
        <div class="col-xs-12 content-language">
            <ul class="list-unstyled">
                {{#each language-list}}
                    {{#if chinese}}
                        {{> core-components-content-separator}}
                    {{else}}

                    {{/if}}
                    <li class={{selected}}>
                        <a href="{{link}}">{{text}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-12 mobile-region-language-menu-wrapper {{mobile-language-region}}" data-section="{{data-section}}">
    <div class="go-back">
        <a tabindex="0">Back</a>
    </div>
    <div class="col-xs-12 slf-tab-region ">
        <div class="col-xs-6 slf-tab first {{region-active}} {{region-present}}" data-target=".region-tab" data-toggle="tab" tabindex="0">
            Regions
        </div>
        <div class="col-xs-6 slf-tab second {{language-active}} {{language-present}}" data-target=".language-tab" data-toggle="tab" tabindex="0">
            Language
        </div>
    </div>
    <div class="col-xs-12 tab-content">
        <div  class="tab-pane region-tab {{region-active}}">
            <ul class="list-unstyled">
                {{#each mobile-region-list}}
                   {{#each parent-list}}
                        {{#if accordion}}
                            <li>
                                <div class="region-link">
                                    <h3 class="accordion-heading" aria-expanded="false" data-toggle="collapse">{{ LinkText }}</h3>
                                    <div class="accordion-list collapse ">
                                        <ul class="list-unstyled accordion-list">
                                            {{#each list}}
                                            <li class={{selected}}>
                                                <a href="{{link}}">{{text}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {{else}}
                            <li>
                                <a href="{{country-link}}">{{country-text}}</a>
                            </li>
                        {{/if}}
                    {{/each}}
                {{/each}}
            </ul>
        </div>
        <div class="tab-pane language-tab {{language-active}}">
            <ul class="list-unstyled">
                {{#each language-list}}
                    {{#if chinese}}
                        {{> core-components-content-separator}}
                    {{/if}}
                    <li class={{selected}}>
                        <a href="{{link}}">{{text}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>