<div class="breadcrumb {{breadcrumb-wrapper-background}} breadcrumb-section" data-section="{{data-section-breadcrumb}}">
	<nav class="{{breadcrumb-author}} vertical-middle-align no-gutter clearfix">
		<div class="left-area">
			<ol role="navigation" aria-label="Breadcrumb" class="breadcrumb-row">
				{{#each page-redirection-link}}
				<li class="{{class-name}}"><a href="{{link}}">{{text}}</a>
				</li>
				{{/each}}
			</ol>
		</div>
		{{#if social-icon-present}}
		<div class="right-area">
			<span class="side-text" aria-label="Share this on social media">{{side-text}}</span>
			{{>core-components-content-icon-text}}
		</div>
		{{/if}}
	</nav>
</div>