<div class="slf-mobile-header-wrapper">
        <!-- sign-in modal start -->
        {{!-- {{>core-components-content-sign-in-modal}}  --}}
        <!-- sign-in modal end-->
        <div class="col-xs-12 mobile-header-navbar  {{mobile-header-background}}">
                <div class="hamburger-menu" id="hamburgerMenu">
                        <div class="navbar-toggle pull-left" type="button">
                                <span class="sr-only">Navigation Menu</span>
                                <span class="icon-bar" id="a1">&nbsp;</span>
                                <span class="icon-bar" id="a2">&nbsp;</span>
                                <span class="icon-bar" id="a3">&nbsp;</span>
                        </div>
                </div>
                <div class="slf-header-mobile-logo" data-section="{{mobile-sunlife-logo}}">
                        <a class="mobile-sun-pic" href="{{mobile-header-link}}">
                                <picture>
                                        <img alt="Sun Life" src="{{img-src}}" />
                                </picture>
                        </a>
                        {{!-- for checking multiple logo --}}
                        {{!-- <a class="mobile-sun-pic" href="{{mobile-header-link}}">
                                <picture>
                                        <img alt="Sun Life" src="{{img-src}}" />
                                </picture>
                        </a>
                        <a class="mobile-sun-pic" href="{{mobile-header-link}}">
                                <picture>
                                        <img alt="Sun Life" src="{{img-src}}" />
                                </picture>
                        </a> --}}
                </div>
                <div class="{{sign-in-box}}" id="SignIn" data-toggle="{{data-toggle}}" data-target="{{data-target}}"><a
                                data-toggle="modal" role="button" href="javascript:void(0)"> <span
                                        class="fa {{sign-icon}} mobile-signin-icon">
                                        <div class="mobile-signin-text">{{button-text}}</div>
                                </span></a>
                </div>
        </div>
        <!-- Mobile Header End-->
        <!-- Hamburger Menu start -->
        <div class="hamburger-menu-wrapper inactive">
                <div class="close-hamburger-menu">
                        <button type="button" class="btn close-hamburger" id="close-hamburger" aria-label="Close">
                            <span class="fa fa-remove" role="img" aria-hidden="true" aria-label="Close"></span>
                        </button>
                </div>
                <div class="{{hamburger-search}}">
                        <form name="searchform-bottom" class="slf-search-mobile"
                                action="https://www.sunlife.ca/ca/Search+results" method="get">
                                <div class="form-wrapper">
                                        <div class="input-wrapper">
                                                <span class="fa fa-search search-icon-mobile" type="submit"></span>
                                                <input name="q" id="q-top-mobile" type="text" class="search-field"
                                                        placeholder="Search" autocomplete="off"
                                                        aria-label="mobile search bar" />
                                                <div class="search-autocomplete-mobile">
                                                        <ul class="search-autocomplete-list-mobile"
                                                                style="display: none;" aria-hidden="true">
                                                        </ul>
                                                        <ul class="search-sayt-list-mobile" style="display: none;"
                                                                data-section="type-ahead-html-listing">
                                                        </ul>
                                                </div>
                                        </div>
                                </div>
                                <input name="action" type="hidden" value="input">
                        </form>
                </div>
                <ul class="first-level-navigation">
                        <li class="navigation-menu">
                                <a>Explore products</a>
                                <div role="menu" class="second-level-navigation">
                                        <ul>
                                                <li class="go-back"><a>Back</a></li>
                                                <li class="navigation-title"><a>Explore products</a></li>
                                                <li class="subnav"><a
                                                                href="https://www.sunlife.ca/ca/Explore+products?vgnLocale=en_CA">Explore
                                                                products overview</a></li>
                                                <li class="navigation-menu"><a>Insurance</a>
                                                        <div role="menu" class="third-level-navigation">
                                                                <ul>
                                                                        <li class="go-back"><a>Back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance?vgnLocale=en_CA">Insurance
                                                                                        overview</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance/Health+insurance?vgnLocale=en_CA">Health
                                                                                        insurance</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance/Life+insurance?vgnLocale=en_CA">Life
                                                                                        insurance</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Insurance/Travel+insurance?vgnLocale=en_CA&amp;promosource=slfc&amp;segment=DTC&amp;WT.ac=en-ca:Web:SLF_evergreen:SLFCAHP:CS_Travel:megamenu:slfc:DTC&amp;promosource=slfc&amp;segment=DTC">Travel
                                                                                        insurance</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance/Mortgage+protection+insurance?vgnLocale=en_CA">Mortgage
                                                                                        protection
                                                                                        insurance</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance/Family+insurance?vgnLocale=en_CA">Family
                                                                                        insurance</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance/Workplace+benefits?vgnLocale=en_CA">Workplace
                                                                                        benefits</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance/Affinity+markets?vgnLocale=en_CA">Affinity
                                                                                        markets</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Insurance/Business+owner+insurance?vgnLocale=en_CA">Business
                                                                                        owner
                                                                                        insurance</a>
                                                                        </li>
                                                                </ul>
                                                        </div>
                                                </li>
                                                <li class="navigation-menu"><a>Investment</a>
                                                        <div role="menu" class="third-level-navigation">
                                                                <ul>
                                                                        <li class="go-back"><a>Back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments?vgnLocale=en_CA">Investments
                                                                                        overview</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Savings?vgnLocale=en_CA">Savings</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Retirement+income?vgnLocale=en_CA">Retirement
                                                                                        income</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Guaranteed+interest+products?vgnLocale=en_CA">Guaranteed
                                                                                        interest products</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Annuity+products?vgnLocale=en_CA">Annuity
                                                                                        products</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Mutual+funds?vgnLocale=en_CA">Mutual
                                                                                        funds</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Segregated+funds?vgnLocale=en_CA">Segregated
                                                                                        funds</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Brokerage+services?vgnLocale=en_CA">Brokerage
                                                                                        services</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/RRSP+TFSA+and+RESP?vgnLocale=en_CA">RRSP,
                                                                                        TFSA and RESP</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/RRIF+and+LIF?vgnLocale=en_CA">RRIF
                                                                                        and LIF</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Explore+products/Investments/Workplace+investments?vgnLocale=en_CA">Workplace
                                                                                        investments</a></li>
                                                                </ul>
                                                        </div>
                                                </li>
                                        </ul>
                                </div>
                        </li>
                        <li class="navigation-menu">
                                <a>Tools & Resources</a>
                                <div role="menu" class="second-level-navigation">
                                        <ul>
                                                <li class="go-back"><a>Back</a></li>
                                                <li class="navigation-title"><a
                                                                href="https://www.sunlife.ca/ca/Tools+and+Resources?vgnLocale=en_CA">Tools
                                                                &amp; Resources</a></li>
                                                <li class="subnav"><a
                                                                href="https://www.sunlife.ca/ca/Tools+and+Resources?vgnLocale=en_CA">Tools
                                                                &amp; Resources overview</a></li>
                                                <li class="navigation-menu"><a>Money &amp; Finances</a>
                                                        <div class="third-level-navigation" role="menu">
                                                                <ul>
                                                                        <li class="go-back"><a>Back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances?vgnLocale=en_CA">Money
                                                                                        &amp; Finances
                                                                                        overview</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Managing+your+money?vgnLocale=en_CA">Managing
                                                                                        your money</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Saving+for+retirement?vgnLocale=en_CA">Saving
                                                                                        for retirement</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Investing+basics?vgnLocale=en_CA">Investing
                                                                                        basics</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Understanding+life+insurance?vgnLocale=en_CA">Understanding
                                                                                        life insurance</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Understanding+health+insurance?vgnLocale=en_CA">Understanding
                                                                                        health insurance</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Help+for+homeowners?vgnLocale=en_CA">Help
                                                                                        for homeowners</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+and+Finances/Planning+your+travel?vgnLocale=en_CA">Planning
                                                                                        your travel</a></li>
                                                                </ul>
                                                        </div>
                                                </li>
                                                <li class="navigation-menu"><a>Health
                                                                &amp; Wellness</a>
                                                        <div class="third-level-navigation" role="menu">
                                                                <ul>
                                                                        <li class="go-back"><a>Back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness?vgnLocale=en_CA">Health
                                                                                        &amp; Wellness
                                                                                        overview</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Fitness+and+family+health?vgnLocale=en_CA">Fitness
                                                                                        and family health</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Mental+wellness?vgnLocale=en_CA">Mental
                                                                                        wellness</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Eating+well?vgnLocale=en_CA">Eating
                                                                                        well</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Preventing+and+treating+illness?vgnLocale=en_CA">Preventing
                                                                                        and treating illness</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Giving+back?vgnLocale=en_CA">Giving
                                                                                        back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Living+in+retirement?vgnLocale=en_CA">Living
                                                                                        in retirement</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Health+and+Wellness/Lumino+health?vgnLocale=en_CA">Lumino
                                                                                        Health</a></li>
                                                                </ul>
                                                        </div>
                                                </li>
                                                <li class="navigation-menu"><a>Life
                                                                moments</a>
                                                        <div class="third-level-navigation" role="menu">
                                                                <ul>
                                                                        <li class="go-back"><a>Back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Life+moments?vgnLocale=en_CA">Life
                                                                                        moments overview</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Life+moments/Starting+a+family?vgnLocale=en_CA">Starting
                                                                                        a family</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Life+moments/Owning+a+home?vgnLocale=en_CA">Owning
                                                                                        a home</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Life+moments/Managing+your+career?vgnLocale=en_CA">Managing
                                                                                        your career</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Life+moments/Managing+your+health?vgnLocale=en_CA">Managing
                                                                                        your health</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Life+moments/Planning+your+retirement?vgnLocale=en_CA">Planning
                                                                                        your retirement</a></li>
                                                                </ul>
                                                        </div>
                                                </li>
                                                <li class="subnav"><a
                                                                href="https://www.sunlife.ca/ca/Tools+and+Resources/Money+for+Life?vgnLocale=en_CA">Money
                                                                for Life</a></li>
                                                <li class="navigation-menu"><a>Financial
                                                                planning and advice</a>
                                                        <div class="third-level-navigation" role="menu">
                                                                <ul>
                                                                        <li class="go-back"><a>Back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Financial+planning+and+advice?vgnLocale=en_CA">Financial
                                                                                        planning and advice
                                                                                        overview</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Financial+planning+and+advice/Build+your+financial+plan?vgnLocale=en_CA">Build
                                                                                        your financial plan</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Financial+planning+and+advice/What+does+a+Sun+Life+Financial+advisor+do?vgnLocale=en_CA">What
                                                                                        does a Sun Life
                                                                                        Financial
                                                                                        advisor do</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Financial+planning+and+advice/Tips+on+finding+the+right+advisor?vgnLocale=en_CA">Tips
                                                                                        on finding the right
                                                                                        advisor</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Financial+planning+and+advice/Estate+and+Financial+Planning+services?vgnLocale=en_CA">Estate
                                                                                        and Financial Planning
                                                                                        Services
                                                                                        (EFPS)</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Financial+planning+and+advice/Work+with+one+of+our+licensed+professionals?vgnLocale=en_CA">Work
                                                                                        with one of our licensed
                                                                                        professionals</a></li>
                                                                </ul>
                                                        </div>
                                                </li>
                                                <li class="navigation-menu"><a>Tools
                                                                &amp; Calculators</a>
                                                        <div class="third-level-navigation" role="menu">
                                                                <ul>
                                                                        <li class="go-back hidden-lg hidden-md"><a>Back</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators?vgnLocale=en_CA">Tools
                                                                                        &amp; Calculators
                                                                                        overview</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Bright+start+tool?vgnLocale=en_CA">Bright
                                                                                        Start Tool</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Budget+calculator?vgnLocale=en_CA">Budget
                                                                                        calculator</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Life+insurance+calculator?vgnLocale=en_CA">Life
                                                                                        insurance calculator</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Critical+illness+insurance+calculator?vgnLocale=en_CA">Critical
                                                                                        illness insurance
                                                                                        calculator</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Life+expectancy+calculator?vgnLocale=en_CA">Life
                                                                                        expectancy
                                                                                        calculator</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Retirement+savings+calculator?vgnLocale=en_CA">Retirement
                                                                                        savings calculator</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/RRSP+calculator?vgnLocale=en_CA">RRSP
                                                                                        calculator</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/CPP+QPP+calculator?vgnLocale=en_CA">CPP/QPP
                                                                                        calculator</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Annuity+Calculator?vgnLocale=en_CA">Annuity
                                                                                        calculator</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Net+worth+calculator?vgnLocale=en_CA">Net
                                                                                        worth calculator</a>
                                                                        </li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/Financial+check+up?vgnLocale=en_CA">Financial
                                                                                        check-up</a></li>
                                                                        <li class="subnav"><a
                                                                                        href="https://www.sunlife.ca/ca/Tools+and+Resources/Tools+and+Calculators/RESP+calculator?vgnLocale=en_CA">RESP
                                                                                        calculator</a></li>
                                                                </ul>
                                                        </div>
                                                </li>
                                        </ul>
                                </div>
                        </li>
                        <li class="navigation-menu">
                                <a>Support</a>
                        </li>
                        <li class="navigation-menu">
                                <a>Careers</a>
                        </li>
                        <li class="navigation-menu">
                                <a>About us</a>
                        </li>
                        <li class="subnav">
                                <a href="https://www.sunlife.ca/ca/Find+an+advisor?vgnLocale=en_CA">Find an
                                        advisor</a>
                        </li>
                        <li class="subnav">
                                <a href="https://www.sunlife.ca/ca/Get+a+quote?vgnLocale=en_CA">Get a quote</a>
                        </li>
                        <li class="navigation-menu {{language-region}}">
                                <a>Canada | EN</a>
                                <div class="second-level-navigation" role="menu">
                                        {{>core-components-content-region-language-menu}}
                                </div>
                        </li>
                </ul>
        </div>
        <div class="offcanvas-overlay">
        </div>
        <!-- Hamburger Menu End -->

</div>