<div class="image-text-wrapper {{rwd-hidden-class}}">
	<div class="image-wrapper {{image-alignment}}" >
		<a href="{{image-link}}">
			<img class="side-image" id="image" src="{{image-src}}" alt="{{alt}}"></a>
	</div>
		<span class="side-text vertical-middle-align">{{text}}</span>
</div>

