<div class="input-section form-group-wrapper">
    <label for="form-group"class="sr-only">It's a form text area</label>
    <input type="text" id={{form-text-id}} class={{form-text-class}} label="{{form-text-label}}" name={{form-text-name}} type="text" maxlength={{text-length}} placeholder={{place-holder}} data-parsley-error-message={{error-message}} data-parsley-pattern={{validation-pattern}} data-parsley-required="" data-parsley-id="4"/>
    
</div>