<div class="banner-wrapper">
    {{!-- hero banner --}}
    <div class="hero-banner">
        <img class="banner-img {{is-mobile-src}}" src="{{img-src}}" />
        <div class="banner-box-wrapper {{banner-box-alignment}} {{box-type}} {{box-position}}">
            <div class="banner-box {{banner-box-color}} {{banner-box-shadow}} {{text-alignment}}">
                <h1>Explore products</h1>
                <p>Insurance and investments to help you find lifetime financial security and live a healthier&nbsp;life</p>
            </div>
        </div>
    </div>
</div>