<div class="col-xs-12 ">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9"></div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 right-navigation-wrapper" data-section="{{data-section-right-rail}}">
        <div class="cmp-container">
            <div class="text">
         
                <p>{{content-label}}</p>
           
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
         
                {{>core-components-content-button}}
                {{>core-components-content-button}}
           
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
      </div>
       {{>core-components-content-icon-text}}
             {{>core-components-content-separator}}
             {{>core-components-content-link-list}}
             {{>core-components-content-separator}}

                  
         <div class="text ">
         
                <p>{{content-label}}</p>
       
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
          
                <form>
                        {{>core-components-form-text}}
                        {{>core-components-form-button}}
                </form>
         
            <p>Make well-informed decisions with helpful advice.
                 Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
     </div>
      {{>core-components-content-separator}}
         <div class="text  right-nav-cta light-orange">
         
                <p>{{content-label}}</p>
       
            <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
          
                <form>
                        {{>core-components-form-options}}
                        {{>core-components-form-button}}
                </form>
         
            <p>Make well-informed decisions with helpful advice.
                 Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
     </div>
      {{>core-components-content-separator}}
     
            <div class="text ">
                <p>{{content-label}}</p>
             <p>Make well-informed decisions with helpful advice. Talk to your advisor or find one near you – there is no cost to talk to an advisor</p>
             <p class="phone-numbers">1800-006-993</p>
        </div>    
        </div>
    </div> 
</div>