<div class="input-wrapper form-group-wrapper">
<<<<<<< HEAD
    <input id={{form-text-id}} class={{form-text-class}} label="{{form-text-label}}" name={{form-text-name}} type="text" maxlength="{{text-length}}" placeholder="{{place-holder}}" data-parsley-error-message="{{error-message}}" data-parsley-pattern="{{validation-pattern}}" data-parsley-required="" data-parsley-id="4" aria-label="form-text">
=======
    <input id={{form-text-id}} class={{form-text-class}} label="{{form-text-label}}" name={{form-text-name}} type="text" maxlength="{{text-length}}" placeholder="{{place-holder}}" data-parsley-error-message="{{error-message}}" data-parsley-pattern="{{validation-pattern}}" data-parsley-required="" data-parsley-required-message="" data-parsley-id="4">
>>>>>>> 463b3a533e8606f72d3fe8f06a4c983ede79f607
</div>