<div class="input-wrapper form-group-wrapper">
    <input data-parsley-required="data-parsley-required" id={{form-text-id}} class="{{form-text-class}}" label="{{form-text-label}}" name="{{form-text-name}}" type="{{input-text-type}}" maxlength="{{text-length}}" placeholder="{{place-holder}}" required="required"  data-parsley-pattern-message="{{error-message}}" data-parsley-pattern="/[a-z]/g"  data-parsley-id="8">
</div>