<div class="mega-menu-wrapper-desk">
	{{#if explore-product}}
	<div class="col-xs-12 explore-product-wrapper-desk slf-header-mega-menu1">
		<div class="col-xs-2 quick-link">
			<div class="{{mega-menu-col-class}}">
				{{>core-components-content-link-list}}
			</div>
		</div>
		<div class="col-xs-10 list-container">
			<div class="col-xs-6 insurance">
				<div class="explore-product-icon-text">
					{{>core-components-content-icon-text}}
					<div class="view-all-link">
						<ul class="view-all-category">
							<li>
								<a href="/ca/Explore+products/Insurance?vgnLocale=en_CA">view all insurance</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="{{explore-product-col}}">
						{{>core-components-content-link-list}}
						{{>core-components-content-link-list}}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="{{explore-product-col}}">
						{{>core-components-content-link-list}}
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="explore-product-icon-text">
					{{>core-components-content-icon-text}}
					<div class="view-all-link">
						<ul class="view-all-category">
							<li>
								<a href="/ca/Explore+products/Insurance?vgnLocale=en_CA">view all insurance</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="{{explore-product-col}}">
						{{>core-components-content-link-list}}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="{{explore-product-col}}">
						{{>core-components-content-link-list}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{/if}}
	{{#if tools-resource}}
	<div class="col-xs-12 tools-resource-wrapper-desk slf-header-mega-menu1">
		<div class="col-xs-2 quick-link">
			<div class="{{mega-menu-col-class}}">
				{{>core-components-content-link-list}}
			</div>
		</div>
		<div class="col-xs-5 list-container-tools">
			<div class="col-xs-6 tools-col">
				<div class="{{mega-menu-col-class}}">
					{{>core-components-content-icon-text}}
					{{>core-components-content-link-list}}
				</div>
			</div>
			<div class="col-xs-6 tools-col">
				<div class="{{mega-menu-col-class}}">
					{{>core-components-content-icon-text}}
					{{>core-components-content-link-list}}
				</div>
			</div>
		</div>
		<div class="col-xs-5 list-container-tools">
			<div class="col-xs-6 tools-col">
				<div class="{{mega-menu-col-class}}">
					{{>core-components-content-icon-text}}
					{{>core-components-content-link-list}}
				</div>
			</div>
			<div class="col-xs-6 tools-col">
				<div class="{{mega-menu-col-class}}">
					{{>core-components-content-icon-text}}
					{{>core-components-content-link-list}}
				</div>
			</div>
		</div>
	</div>
	{{/if}}
</div>