<div class="{{icon-text-wrapper}}">
  <div onclick="{{share-link}}" class="icon-parent">
      <span class="icon-style fa {{fa-icon}}"></span>
  </div>
  <div class="icon-text">
    <div class="icon-text-heading-normal">
      {{text-input}}
    </div>
    <div class="icon-text-heading-link">
      <a href="{{href}}">{{text-input}}</a>
    </div>
    <div class="icon-text-description">
      {{description-input}}
    </div>
  </div>
</div>