<div class="icon-text-wrapper clearfix">
  <div class="{{text-area-wrapper}}">
    <div class="{{icon-bg}} icon-wrapper">
      <span class="{{icon-inside}} fa {{fa-icon}}"></span>
    </div>
    {{#if text-present}}
      <div class="icon-text">
        <div class="icon-text-heading">
          {{#if link-present}}
            <a href="{{href}}">
              {{text-input}}
            </a>
          {{else}}
            {{text-input}}
          {{/if}}
        </div>
        <div class="icon-text-description">
        {{#if description-present}}
            {{description-input}}
        {{/if}}
        </div>
      </div>
    {{/if}}
</div>