<div class="{{icon-text-wrapper}} {{text-area-wrapper}}">
<div class="{{icon-bg}}">
    <span class="{{icon-inside}} fa {{fa-icon}} fa-inverse fa-stack-1x"></span>
</div>
 <div class="{{icon-text}}">
   <h2 class="{{icon-text-heading}}">{{heading}}</h2>
   <p>

   </p>
 </div>
</div>
