<div class="icon-text-wrapper">
  <div class="{{text-area-wrapper}}">
    <div class="{{icon-bg}}">
      <span class="{{icon-inside}} fa {{fa-icon}} fa-inverse fa-stack-1x"></span>
    </div>
    {{#if text-present}}
      <div class="icon-text">
        <p class="icon-text-heading">
          {{#if link-present}}
            <a href="{{href}}">
              {{text-input}}
            </a>
          {{else}}
            {{text-input}}
          {{/if}}
        </p>
        {{#if description-present}}
        <p>
          {{description-input}}
        </p>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>