<div class="footer-copyright-wrapper-asd">
    <div class="top-part clearfix">
        <div class="slf-tagline">{{tagline}}</div>
        <div class="slf-legal">
            <ul>
                {{#each list}}
                <li class="{{class-name1}}">
                    <a class="{{class-name}}" href="{{link}}" target="{{target}}">{{text}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="bottom-part">
        <div class="slf-copyright">{{copyright}}</div>
        <div class="slf-reserved">&nbsp;{{reserved}}</div>
        <div class="slf-logo">{{logo}}</div>
    </div>
</div>