<div class="image-text-wrapper {{wrapper-class}} {{text-alignment}} {{image-type}} {{img-border}} {{banner-text-alignment}} {{banner-box}}" data-section="{{data-section-banner}}">
	{{#if is-right-aligned-image}}
	<div class="right-image-position">
		<div class="left-item text-section hide-in-editorial">
			<p>{{text}}</p>
		</div>
		<div class="right-item">
			<a href="{{desk-image-link}}">
				<img class="side-image desktop-image" src="{{desk-image-src}}" alt="{{desk-alt}}" aria-hidden="true">
			</a>
			<a href="{{mob-image-link}}">
				<img class="side-image mobile-image" src="{{mob-image-src}}" alt="{{mob-alt}}" aria-hidden="true">
			</a>
		</div>
		<div class="left-item text-section show-only-in-editorial">
			<p>{{text}}</p>
		</div>
	</div>
	{{else}}
	<div class="left-image-position">
		<div class="left-item">
			<a href="{{desk-image-link}}">
				<img class="side-image desktop-image" src="{{desk-image-src}}" alt="{{desk-alt}}" aria-hidden="true">
			</a>
			<a href="{{mob-image-link}}">
				<img class="side-image mobile-image" src="{{mob-image-src}}" alt="{{mob-alt}}" aria-hidden="true">
			</a>
		</div>
		<div class="right-item text-section">
			<p>{{text}}</p>
		</div>
	</div>
	{{/if}}
</div>