<div class="footer-copyright-wrapper" data-section="{{data-section-footer-copyright}}">
    <div class="footer-logo-section">
        <img class="footer-logo" src="https://cmsdev-auth.ca.sunlife/content/dam/sunlife/SL-english-logo.png"
        alt="footer-logo-image">
    </div>
    <div class="footer-text-section">
        <div class="top-part clearfix">
            <div class="slf-legal">
                <ul>
                    {{#each list1}}
                    <li>
                        <a class="{{class-name}}" href="{{link}}" target="{{target}}">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="bottom-part">
            <div class="slf-copyright">{{copyright}}</div>
        </div>
    </div>
</div>