<div class="left-nav-wrapper" role="navigation" aria-label="Left">
    <div class="first-level">
        {{first-level}}
    </div>
    <ul class="second-level accordion" id="myAccordion">
        {{#each second-level-list}}
            <li class="panel">
                {{#if third-level-present}}
                    <a href="javascript:void(0)" class="accordion-heading" tabindex="0" aria-expanded="{{aria-expanded}}"  data-target="#{{links}}" data-toggle="collapse" data-parent="#myAccordion">
                        {{second-level-link-name}}
                    </a>
                    <div class="collapse {{collapse}}" id="{{links}}">
                        <ul class="third-level">
                            {{#each third-level-list}}
                                <li>
                                    <a class="{{selected}}" href="{{third-level-link-url}}">
                                        {{third-level-link-name}}
                                    </a>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                {{else}}
                    <a class="{{selected}}" href="{{second-level-link-url}}">
                        {{second-level-link-name}}
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>